# Environment variables
.env

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
.venv/
env/
venv/
ENV/

# Chroma vector database storage
chroma_db/
test_chroma/

# Streamlit runtime
.streamlit/
!/.streamlit/config.toml

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
